# Python libraries required for the project
# This line installs the v2.7+ dev build of py-cord from GitHub
# using the MODERN PEP 508 syntax.
py-cord[sink,voice] @ git+https://github.com/Pycord-Development/pycord.git

# The rest of our libraries
google-generativeai>=0.5.0
python-dotenv>=1.0.0
PyNaCl>=1.5.0
google-cloud-texttospeech>=2.14.0
google-cloud-speech>=2.20.0